html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
form, #footerTable {
    width: 1200px;
    margin: 50px auto;
}
table {
    width: 100%;
}
#footerTable > table{
    vertical-align: top;
    text-align: center;
}
#uploaded tr:nth-child(even) td {
    background-color: rgba(200,200,200,.2);
}
#uploaded tr:nth-child(odd) td {
    background-color: rgba(100,100,100,.2);
}

#uploaded tr.notexists:nth-child(even) td {
    background-color: rgba(200,200,250,.4);
}
#uploaded tr.notexists:nth-child(odd) td {
    background-color: rgba(100,100,150,.4);
}